$backColor: #111111
$backLightColor: #222222
$frontColor: #eeeeee
$secondaryColor: #aaaaaa
$accentColor: #990000
$accentLightColor: #992200

body
  background-color: $backColor
  color: $frontColor
  font-family: Lato, sans-serif

a
  cursor: pointer
  color: $accentColor
  text-decoration: none

  small
    border-bottom: 1px dashed $accentLightColor

  &:visited
    color: $accentColor
    text-decoration: none

    small
      border-bottom-width: 0

  &:hover, &:focus
    color: $accentColor
    text-decoration: none

    small
      border-bottom-color: $accentColor

  &.disabled
    cursor: not-allowed
    pointer-events: none
    background-color: $secondaryColor !important

.header
  background-color: $accentColor
  margin: -8px
  margin-bottom: 0.8em
  padding: 1em

  a
    @extend .header-button

.header-button
  cursor: pointer
  background-color: $frontColor
  color: $accentColor
  padding: 0.5em
  margin: 0 0.5em
  font-weight: bold

  &:hover, &:focus
    box-shadow: 0 0 7px 0 $frontColor

  .loading
    width: 3em
    height: 3em
    background: $accentColor
    background: linear-gradient(to right, $accentColor 10%, rgba(255,255,255,0) 42%)
    margin: 0
    display: inline-block
    margin-left: 7px
    top: 3px

    &:after
      background-color: $frontColor

.loading
  border-radius: 50%
  margin: 20px auto
  font-size: 7px
  text-indent: -9999em
  width: 11em
  height: 11em
  background: $frontColor
  background: linear-gradient(to right, $frontColor 10%, rgba(255,255,255,0) 42%)
  position: relative
  animation: load-anim 1.4s infinite linear
  transform: translateZ(0)

  &:before
    width: 50%
    height: 50%
    background: $frontColor
    border-radius: 100% 0 0 0
    position: absolute
    top: 0
    left: 0
    content: ''

  &:after
    background: $backColor
    width: 75%
    height: 75%
    border-radius: 50%
    content: ''
    margin: auto
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0

@keyframes load-anim
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.text-center
  text-align: center

.text-secondary
  color: $secondaryColor

.text-primary
  color: $frontColor

.text-accent
  color: $accentColor

.search-location
  input
    border-radius: 4px 0 0 4px
    padding: 15px
    font-size: 22px
    font-family: Roboto, sans-serif
    border: 1px solid $secondaryColor
    border-right-width: 0
    width: calc(100% - 90px)
    height: 54px

  button
    background-color: $accentColor
    color: $frontColor
    padding: 14px 32px
    border-radius: 0 4px 4px 0
    border: 1px solid $secondaryColor
    border-left-width: 0
    position: relative
    top: 5px
    cursor: pointer

    &:hover, &:focus
      background-color: $accentLightColor

.result-box
  background-color: $backLightColor
  padding: 1em
  text-align: left
  margin-bottom: 1em

  div
    display: inline-block
    vertical-align: top
    padding-top: 1em
    margin-top: 3px

  img
    border-radius: 4px
    margin-top: 1em
    margin-right: 0.5em

  h2
    text-align: center
    margin: -0.5em
    margin-bottom: 0
    padding: 0.5em
    background-color: $accentColor

  a
    background-color: $accentColor
    color: $frontColor
    padding: 0.5em

  .badge
    background-color: $secondaryColor
    color: $backColor
    padding: 1px 3px
    margin-right: 2px
    border-radius: 3px

  .snippet
    padding: 0
    margin: 0
    display: block

    img
      border-radius: 50%
      width: 52px
      height: 52px
      float: left
      margin: 0
      margin-right: 10px

.load-more
  width: 100%
  border-width: 0
  background-color: $accentColor
  color: $frontColor
  padding: 1em
  font-size: 1em
  text-transform: uppercase
  cursor: pointer

.signup-module
  background-color: rgba(0,0,0,0.1)
  display: inline-block
  padding: 1em
  padding-top: 0

  label
    display: block
    margin-bottom: 0.5em
    text-align: right

    input
      border-width: 0
      font-size: 15px
      padding: 3px

  button
      @extend .header-button
      border-width: 0

.login-module
  @extend .signup-module
